@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');


.navbar-brand {
    color: #ddd;
    font-family: 'Vidaloka', serif;
    text-shadow: 5px 5px 15px #888;
}

.navbar-brand:hover {
    color: white;
}

.container-main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    padding: 20px;
}

.wrap-chats {
    margin: auto;
    display: flex;
    flex-flow: column;
}

.wrap-chats-child {
    width: auto;
    padding: 10px;
    display: flex;
    flex-flow: row;
    /* border: solid; */
    /* border-radius: 20px; */
}

.chats-child-icon {
    padding: auto;
}

.chats-child-context {
    margin: 25px 80px;

    width: auto;
}

.message-icon {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
}

.message-icon-name {
    color: black;
    font-size: 20px;
    font: bold;
}

.last-message {
    color: gray;
    font-size: 15px;
}

.talk-container {}

.talk-header {
    /* background-color: #333; */
    color: black;
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: center;
}

.talk-message-container {
    display: flex;
    flex-flow: column;
}

.message-container {
    width: 100%;
    height: auto;
}

.message-box-partner,
.message-box-user {
    max-width: 300px;
    padding: 15px;
    color: black;
    border-radius: 20px;
}

.message-box-partner {
    background-color: #ddd;
}

.message-box-user {
    background-color: #ADD8E6;
    margin: 0 0 0 auto;
}